[% INCLUDE wrapper_top.html.tt2 %]

<div class="container">
    <h2>Create a sandbox</h2>

    [% IF errors.keys %]
    <div class="alert alert-danger" role="alert">
        The following problems prevented the creation of your sandbox:
        <ul>
            [% IF errors.name_required %]
                <li>Sandbox name is required.</li>
            [% END %]

            [% IF errors.user_required %]
                <li>Your name is required.</li>
            [% END %]

            [% IF errors.name_taken %]
                <li>Sandbox name is already in use.</li>
            [% END %]
        </ul>
    </div>
    [% END %]

    <form id="create-sandbox" method="post" action="[% c.url_for('/create') %]">
      <div class="form-group">
        <label for="user">Your name</label>
        <input type="text" class="form-control" name="user" id="user" aria-describedby="userHelp" placeholder="Enter your name" value="[% params.user | html %]" required>
        <small id="nameHelp" class="form-text text-muted">Enter your name ( or alias, nick or whatever ). This will be used for signing off on patches.</small>
      </div>

      <div class="form-group">
        <label for="email">Your email</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter your email address" value="[% params.email | html %]" required>
        <small id="emailHelp" class="form-text text-muted">Enter your email address. This will be used for signing off on patches.</small>
      </div>

      <div class="form-group">
        <label for="name">Sandbox name</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Enter sandbox name" pattern="[a-z][a-z0-9]+" maxlength="11" value="[% params.name | html %]" required>
        <small id="nameHelp" class="form-text text-muted">Enter a simple name for your sandbox, lower case all letters and numbers.</small>
      </div>

      <div class="form-group">
        <label for="bug">Bug number</label>
        <input type="number" class="form-control" name="bug" id="bug" aria-describedby="bugHelp" placeholder="Enter Koha community bug number" pattern="[0-9]+" value="[% params.bug | html %]">
        <small id="bugHelp" class="form-text text-muted">Enter a bug number here and it will be applied to your sandbox.</small>
      </div>

      <div class="form-group">
        <label for="marc_flavour">Marc flavour</label>
        <select class="form-control" name="marc_flavour" id="marc_flavour" aria-describedby="bugHelp">
            [% IF params.marc_flavour == 'unimarc' %]
                <option value="marc21">MARC21</option>
                <option value="unimarc" selected="selected">UNIMARC</option>
            [% ELSE %]
                <option value="marc21" selected="selected">MARC21</option>
                <option value="unimarc">UNIMARC</option>
            [% END %]
        </select>
        <small id="bugHelp" class="form-text text-muted">Select your MARC flavour.</small>
      </div>

      <div class="form-group">
        <label for="git_remote">Git remote & branch</label>
        <input type="text" class="form-control" name="git_remote" id="git_remote" aria-describedby="git_remoteHelp" placeholder="Enter repository url" value="[% params.git_remote | html %]">
        <br/>
        <input type="text" class="form-control" name="git_branch" id="git_branch" aria-describedby="git_branchHelp" placeholder="Enter name of branch" value="[% params.git_branch | html %]">
        <small id="git_remoteHelp" class="form-text text-muted">Enter a Koha git remote address and branch here and it will be applied to your sandbox.</small>
        <br/>
        <input type="text" class="form-control" name="git_commitid" id="git_commitid" aria-describedby="git_commitidHelp" placeholder="Enter commit id or tag name">
        <small id="git_commitidHelp" class="form-text text-muted">Or enter a commit id or a tag name to checkout.</small>
      </div>

      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp" placeholder="Enter description" value="[% input.description | html %]">
        <small id="descriptionHelp" class="form-text text-muted">Enter a basic description, optional.</small>
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <input type="text" class="form-control" name="notes" id="notes" aria-describedby="notesHelp" placeholder="Enter notes" value="[% input.notes | html %]">
        <small id="notesHelp" class="form-text text-muted">Add notes, optional.</small>
      </div>

<!--
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="" value="">
        <small id="passwordHelp" class="form-text text-muted">Password protect from deletion, optional.</small>
      </div>
-->

      <div class="form-group">
        <label for="captcha">What was the world's first open source ILS?</label>
        <input type="captcha" class="form-control" name="captcha" id="captcha" aria-describedby="captchaHelp" required>
        <small id="captchaHelp" class="form-text text-muted">The answer is in the upper left corner of this page.</small>
      </div>

      <div class="alert alert-info" role="alert">
          The initial staff login will be <i>koha</i>, with the password <i>koha</i>
          <br/>
          The database user will be <i>koha_<span id="sandbox_name">sandbox name</span></i>, with the password <i>[% user_vars.KOHA_DB_PASSWORD %]</i>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    document.getElementById("user").focus();
    const name = document.getElementById('name');
    const sandbox_name = document.getElementById('sandbox_name');

    name.addEventListener('change', updateSandboxNameSpan);
    function updateSandboxNameSpan(e) {
        sandbox_name.textContent = e.target.value;
    }
</script>

[% INCLUDE wrapper_bottom.html.tt2 %]
